body{
    margin: 0;
  padding: 0;
  background:
    url('flow-gree.png') no-repeat left bottom fixed,
    url('flow-yell.png') no-repeat left bottom fixed,
    url('painter.png') no-repeat right bottom;
  background-color: #F0F0F0;
  background-size: auto, auto, auto;
}

.header1{
color: #333;
font-family: "Playfair Display";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-top: 10vh;
margin-bottom: 0px;
background-image: url('./overline.png');
background-repeat: no-repeat;
background-position: center; 
}

.header2{
    color: #333;
font-family: "Raleway";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 1.5vh;
text-align: center;
}

.card-section{
    display: flex;
    justify-content: center;
}
.cards{
    width: 16.9vw;
    height: 73vh;
    background: #FFF;
    text-align: center;
    margin: 0 35px;
}

.cards:hover{
    background-color: #C70039;
    box-shadow: 2px 2px 50px 0px rgba(0, 0, 0, 0.11);
    color: #FFF;
    cursor: pointer;
}

.cards h3:first-child{
 margin-top: 5.2vh;
 margin-bottom: 0px;
 background-image: url('./overline2.png');
 background-repeat: no-repeat;
 background-position: 138px 10px;
 background-size: 92px;
}

.cards h1{
    margin-top: 8.3vh;
    margin-bottom: 0px;
}

.cards h3:nth-child(2){
    margin-top: 1.4vh;
    margin-bottom: 0px;
}

.cards h2{
    margin-top: 8.3vh;
    margin-bottom: 0px;
}

.cards ul{
    margin: 14px auto 0px;
    width: 50%;
}
.cards ul li{
    float: left;
    padding: 5px;
}

.card-buttton {
    display: inline-flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #C70039;
    color: #FFF;
    border: none;
    margin-top: 5.7vh;
}

.cards:hover .card-buttton{
    background-color: #FFF;
    color: #C70039;
}
